{
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "parser": "flow",
    "semi": true,
    "requirePragma": false,
    "proseWrap": "preserve",
    "arrowParens": "always"
}
